body {
  font-size: 16px;
  color: black;
  background: #00b09b;  
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  
  background: linear-gradient(to right, #96c93d, #00b09b); 

  font-family: 'Oxygen', sans-serif;
}
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #FFA500;
  border-top: 0;
}
#Horarios, #Dirección {
  line-height: 2;
}
#Dirección p {
  color: #FDD835;
  font-size: .8em;
  line-height: 1.8;
}
.panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section hr {
    width: 50%;
  }